html,
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: var(--font-family-sans-serif);
  color: var(--white);
  overflow-x: hidden;
  background-color: var(--primary);
  counter-reset: section 0;
}

p {
  @media (max-width: 767px) {
    font-size: 0.9rem;
  }
}

#about {
  @media (max-width: 576px) {
    display: none;
  }
}