@import "../../styles/custom-bootstrap";

.section-header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 800;
  &::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    position: relative;
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: $font-family-monospace;
    color: var(--accent);
  }
  &::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 300px;
    background-color: var(--light);
    margin-left: 20px;
  }
}
